@import "variables";

.auth-dialog {
  max-width: 800px;
  overflow: hidden;
  margin: map-get($spacers, 7) auto;
  background-color: $white;
  border-radius: $border-radius;
  text-align: center;
  box-shadow: 0 0 32px rgba(0,0,0,0.08);

  .auth-form-status {
    padding: map-get($spacers, 3);
    text-align: center;
  }


  .logo-container {
    position: relative;
    height: 70px;
    width: 140px;
    background-image: url('/assets/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 60px auto 60px;
    transform: translateX(10px)
  }

  .auth-dialog-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('/assets/img/yellow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .auth-dialog-log {
    p {
      margin: 0;
      font-size: .75rem;
      line-height: 20px;
      &.current-user {}
      &.description {}
    }
  }

}
