<div>
  Loading...
  <div *ngIf="profiled">
    <h3>Howdy, guest</h3>
    <p>Login to get started...</p>
    <button (click)="auth.googleLogin()" class="btn btn-sm btn-primary">Login with Google</button>
  </div>
</div>

<!-- <div *ngIf="auth.user | async; then authenticated else guest">Loading...</div>

<ng-template #guest>
  <h3>Howdy, guest</h3>
  <p>Login to get started...</p>
  <button (click)="auth.googleLogin()" class="btn btn-sm btn-primary">Login with Google</button>
</ng-template>

<ng-template #authenticated>
  <div class="card-user-details" *ngIf="auth.user | async as user">
    <h3>User details</h3>
    <p>Full name: {{ user.displayName }}</p>
    <p>UID: {{ user.uid }}</p>
    <p>Favorite color: {{ user?.favoriteColor }}</p>

    <button (click)="auth.signOut()" class="btn btn-sm btn-secondary">Sign out</button>
  </div>
</ng-template> -->
