<div class="card-user-details">
  <h4 class="card-user-details--title">{{user.displayName}}</h4>
  <div class="d-flex">

    <div class="mr-2">
      <div [ngClass]="{'role-container': true, 'disabled': !user?.roles.admin}">
        <div class="role-block role-title">admin:</div>
        <div class="role-block role-switcher-wrapper"><i-check></i-check></div>
      </div>
    </div>

    <div class="mr-2">
      <div [ngClass]="{'role-container': true, 'disabled': !user?.roles.editor}">
        <div class="role-block role-title">editor:</div>
        <div class="role-block role-switcher-wrapper"><i-check></i-check></div>
      </div>
    </div>

    <div class="mr-2">
      <div [ngClass]="{'role-container': true, 'disabled': !user?.roles.subscriber}">
        <div class="role-block role-title">subscriber:</div>
        <div class="role-block role-switcher-wrapper"><i-check></i-check></div>
      </div>
    </div>

  </div>
</div>
