<div class="container">
  <div class="page-settings">

    <div class="settings-sidebar">
      <ul>
        <li><a class="link" routerLinkActive="active-link" routerLink="/setting/status">Status</a></li>
        <li><a class="link" routerLinkActive="active-link" routerLink="/setting/region">Region</a></li>
        <li><a class="link" routerLinkActive="active-link" routerLink="/setting/direction">Direction</a></li>
        <li><a class="link" routerLinkActive="active-link" routerLink="/setting/responsibility">Responsibility</a></li>
        <li><a class="link" routerLinkActive="active-link" routerLink="/setting/facility">Facility</a></li>
        <li><a class="link" routerLinkActive="active-link" routerLink="/setting/equipment">Equipment type</a></li>
        <hr/>
        <li><a class="link" routerLinkActive="active-link" routerLink="/setting/clients">Clients</a></li>
        <li *ngIf="isAdmin"><a class="link" routerLinkActive="active-link" routerLink="/setting/users">Users</a></li>
      </ul>
    </div>

    <div class="settings-workspace">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
