@import "variables";

.navigation {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 20px 0;

  a, a:link, a:visited {
    color: $gray-400;
    padding-right: 7px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    @include transition($transition-base);

    &:hover {
      text-decoration: none;
      color: $gray-300;
      background-color: lighten($gray-800, 5%);
      border-radius: $border-radius;
    }

    &.active-link {
      color: $gray-100;
    }

  }

}
