@import "variables";

.navigation {
  font-size: 14px;
  padding: 10px 0;

  a, a:link, a:visited {
    color: $gray-500;
    font-weight: 600;
    padding-right: 7px;
    line-height: 20px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    @include transition($transition-base);

    &:hover {
      text-decoration: none;
      color: $gray-300;
    }

    &.active-link {
      color: $gray-100;
    }

  }

}
