@import "variables";

.page-settings {
  display: flex;
  justify-content: space-around;

  .settings-sidebar {
    width: 30%;
    font-weight: 600;
    padding-right: 30px;

    a, a:link, a:visited {
      color: $gray-600;
      margin-bottom: 20px;
      &:hover {
        text-decoration: none;
      }
      &.active-link {
        color: $primary;
      }
    }
  }

  .settings-workspace {
    flex-grow: 3;
    width: 70%;
  }
}
