<div class="container">
  <div class="page-settings">

    <div class="settings-sidebar">
      <a class="link d-block" routerLinkActive="active-link" routerLink="/setting/status">Status</a>
      <a class="link d-block" routerLinkActive="active-link" routerLink="/setting/region">Region</a>
      <a class="link d-block" routerLinkActive="active-link" routerLink="/setting/direction">Direction</a>
      <a class="link d-block" routerLinkActive="active-link" routerLink="/setting/responsibility">Responsibility</a>
      <a class="link d-block" routerLinkActive="active-link" routerLink="/setting/facility">Facility</a>
      <a class="link d-block" routerLinkActive="active-link" routerLink="/setting/equipment">Equipment type</a>
      <hr/>
      <a class="link d-block" routerLinkActive="active-link" routerLink="/setting/client">Client</a>
    </div>

    <div class="settings-workspace">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
