.entity-card {
  padding: 15px;
  background-color: $gray-100;
  border: 1px solid $gray-100;
  margin-bottom: 20px;
  border-radius: $border-radius;

  .textarea-sm {
    font-size: 14px;
    line-height: 20px;
  }

  &.entity-card-outline {
    background-color: $white;
    border: 1px solid $gray-300;
  }

  .entity-card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
  }

  .entity-card-abbr {
    font-size: 14px;
    line-height: 20px;
    color: $text-muted;
    margin-bottom: 20px;
  }

  .entity-card-description {
    font-size: 14px;
    line-height: 20px;
    color: $text-muted;
  }
}
