/* MODAL STYLES
-------------------------------*/
modal {
  display: none;

  .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      z-index: $zindex-modal;

      overflow: auto;

      .modal-body {
        padding: 20px;
        max-width: 700px;
        margin: 40px auto;
        background: $white;

        border-radius: $border-radius;

        &.modal-body-sm {
          max-width: 480px !important;
        }
      }
  }

  .modal-background {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: $gray-300;
      opacity: 0.95;

      z-index: $zindex-modal-backdrop;
  }
}

body.modal-open {
  overflow: hidden;
  .modal {
    display: block;
  }
}
