@import "variables";

:host {
  display: block;
}

.page-catalog {
  display: flex;
}

.catalog-navigation {
  width: 240px;
  ul {
    list-style: none;
    .link {
      padding: $spacer/2 0;
      color: $gray-900;

      &.active-link {
        color: $primary;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }

    }
  }
}

.catalog-content-wrapper {
  margin-left: $spacer;
  background-color: $gray-100;
  padding: $spacer;
  border-radius: $border-radius;
  flex-grow: 3;
}
