<div class="container">
  <div class="page-catalog">

    <div class="catalog-navigation">
      <ul>
        <li><a class="link" routerLinkActive="active-link" routerLink="/catalog/clients">Clients</a></li>
        <li><a class="link" routerLinkActive="active-link" routerLink="/catalog/users">Users</a></li>
        <hr />
        <li><a class="link" routerLinkActive="active-link" routerLink="/catalog/settings">Settings</a></li>
      </ul>
    </div>

    <div class="catalog-content-wrapper">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
