@import "variables";

:host {
  height: 20px;
  width: 30px;
  position: relative;
  display: inline-block;
}

.app-switcher {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid $gray-300;
  background-color: $white;

  &.disabled {
    opacity: 0.5;

    .form-check-label {
      cursor: auto;
    }
  }

  &.checked {
    background-color: $primary;
    border-color: $primary;
    .form-check-label {
      &::after {
        left: 12px;
        background-color: $white;
      }
    }
  }

  .form-check-label {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background-color: $gray-300;
      position: absolute;
      left: 2px;
      top: 2px;
      border-radius: 50%;
      transition: all .18s ease-in-out;
    }
  }

  .form-check-input[type="checkbox"] {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

}
