<div class="container">
  <div *ngIf="auth.user | async; then authenticated else guest"></div>
</div>

<ng-template #guest>
  Loading...
</ng-template>

<ng-template #authenticated>
  <div class="widget-board card-user-details" *ngIf="auth.user | async as user">
    <h3>{{ user.displayName }}</h3>
    <p>UID: {{ user.uid }}</p>
    <hr />
    <p>Favorite color: {{ user?.favoriteColor }}</p>
    <hr />
    <h4>Roles</h4>
    <p>admin: {{ user?.roles.admin }}</p>
    <p>editor: {{ user?.roles.editor }}</p>
    <p>subscriber: {{ user?.roles.subscriber }}</p>
    <hr />

    <button (click)="auth.signOut()" class="btn btn-sm btn-secondary">Sign out</button>
  </div>
</ng-template>
