<div [ngClass]="{'entity-card': true, 'entity-card-edit': mode === 'edit'}">
  <!-- VIEW MODE -->

  <div *ngIf="mode === 'view'">
    <p class="entity-card-title">{{ formData.data.title }}</p>
    <p class="entity-card-abbr">{{ formData.data.abbr }}</p>
    <p class="entity-card-description">{{ formData.data.description }}</p>

    <button (click)="editMode()" class="btn btn-light mr-1 p-1 text-muted">
      <i-edit></i-edit>
    </button>
    <button (click)="delete(data.id)" class="btn btn-light mr-1 p-1 text-muted">
      <i-trash-2></i-trash-2>
    </button>

  </div>

  <!-- EDIT MODE -->

  <div *ngIf="mode === 'edit'">

    <label class="form-label">
      <span>Status title</span>
      <input [(ngModel)]="formData.data.title" type="text" class="form-control">
    </label>

    <label class="form-label">
      <span>Status abbr</span>
      <input [(ngModel)]="formData.data.abbr" type="text" class="form-control">
    </label>

    <label class="form-label">
      <span>Status description</span>
      <textarea [(ngModel)]="formData.data.description" type="text" class="form-control"></textarea>
    </label>

    <button (click)="cancel()" class="btn btn-sm btn-secondary mr-1">Cancel</button>{{' '}}
    <button (click)="update()" class="btn btn-sm btn-success mr-1">Update</button>

  </div>

</div>
