<div class="container">
  <div *ngIf="auth.user | async; then authenticated else guest"></div>
</div>

<ng-template #guest>
  Loading...
</ng-template>

<ng-template #authenticated>
  <div class="card-user-details" *ngIf="auth.user | async as user">

    <div *ngIf="count$ | async; let count" class="counter">
      Current Count: {{ count.counter }}
    </div>

    <div *ngIf="!((statuses$ | async)?.length)">
      There is no statuses added
    </div>

    <div
        *ngFor="let status of (statuses$ | async)"
        class="status-item">
        {{ status.data.title }}
    </div>

    <h3>{{ user.displayName }}</h3>
    <p><i-user class="pr-1"></i-user>UID: {{ user.uid || '' }}</p>
    <hr />
    <p>Favorite color: {{ user?.favoriteColor }}</p>
    <hr />
    <h4>Roles</h4>
    <p>admin: {{ user?.roles.admin }}</p>
    <p>editor: {{ user?.roles.editor }}</p>
    <p>subscriber: {{ user?.roles.subscriber }}</p>
    <hr />

    <button (click)="auth.signOut()" class="btn btn-lg btn-secondary">Sign out</button>
  </div>
</ng-template>
