<div class="container">

  <div class="mb-3">
    <h3 class="mb-5">Dashboard</h3>
    <button class="btn btn-lg btn-primary align-top" (click)="openModal('modal-dialog-new-report')">Create new report</button>
  </div>
</div>

<modal id="modal-dialog-new-report">
  <div class="modal">
    <div class="modal-body modal-body-sm">
      <h4 class="mb-4">New report</h4>
      <button class="btn btn-lg btn-primary align-top" (click)="closeModal('modal-dialog-new-report')">Close</button>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
