<div>


  <div *ngIf="currentRoute !== 'clients' && currentRoute !== 'users'">
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let d of data">

        <app-entity-card
          (onChange)="updateEntity($event)"
          (onDelete)="deleteEntity($event)"
          [data]="d"></app-entity-card>

      </div>
      <div class="col-md-6 col-lg-4">

        <app-new-entity (onCreate)="createEntity($event)"></app-new-entity>

      </div>
    </div>
  </div>

  <div *ngIf="currentRoute === 'clients'">

    <div *ngIf="!clientFormShow" class="mb-5">
      <button (click)="showClientForm()" class="btn btn-lg btn-primary">Добавить клиента</button>
    </div>

    <div *ngIf="clientFormShow" class="mb-5">
      <app-client-form (hideForm)="hideClientForm()"></app-client-form>
    </div>

    <div class="clients-list">
      <app-clients-list></app-clients-list>
    </div>

  </div>

  <div *ngIf="currentRoute === 'users'">
    <div *ngFor="let user of authService.users$ | async">
      <app-user-details [user]="user"></app-user-details>
    </div>
  </div>

</div>
