<div class="row">
  <div class="col-md-6">
    <div class="new-report-form">
      <h3 class="mb-5">Создать отчет по продажам</h3>

      <!-- <form #f="ngForm" (submit)="confirmForm($event, f)">

        <label class="form-label mb-2">
          <span>Статус</span>
          <select name="status" ngModel required #status="ngModel" type="text" class="form-control form-control-lg">
            <option value=""></option>
            <option *ngFor="let opt of firedataService.statuses | async" [value]="opt.id">
              {{ opt.data.title }}
            </option>
          </select>
        </label>

        <label class="form-label mb-3">
          <span>Руководитель проекта</span>
          <input
            name="manager"
            type="text"
            [ngModel]="currentUserDisplayName"
            required
            readonly
            ngModel #manager="ngModel"
            class="form-control form-control-lg">
        </label>

        <label class="form-label mb-3">
          <span>Регион</span>
          <select name="region" ngModel required #region="ngModel" type="text" class="form-control form-control-lg">
            <option value=""></option>
            <option *ngFor="let reg of firedataService.regions | async" [value]="reg.id">
              {{ reg.data.title }}
            </option>
          </select>
        </label>

        <label class="form-label mb-3">
          <span>Направление</span>
          <select name="direction" ngModel required #direction="ngModel" type="text" class="form-control form-control-lg">
            <option value=""></option>
            <option *ngFor="let direction of firedataService.directions | async" [value]="direction.id">
              {{ direction.data.title }}
            </option>
          </select>
        </label>

        <label class="form-label mb-3">
          <span>Ответственность</span>
          <select name="responsibility" ngModel required #responsibility="ngModel" type="text" class="form-control form-control-lg">
            <option value=""></option>
            <option *ngFor="let responsibility of firedataService.resp | async" [value]="responsibility.id">
              {{ responsibility.data.title }}
            </option>
          </select>
        </label>

        <label class="form-label mb-3">
          <span>Год</span>
          <input [ngModel]="currentYear" name="year" ngModel required #year="ngModel" type="text" class="form-control form-control-lg">
        </label>

        <label class="form-label mb-3">
          <span>Заказчик</span>
          <select name="client" ngModel required #client="ngModel" type="text" class="form-control form-control-lg">
            <option value=""></option>
            <option *ngFor="let client of clientsService.clients$ | async" [value]="client.id">
              {{ client.data.title }}
            </option>
          </select>
        </label>

        <label class="form-label mb-3">
          <span>Объект</span>
          <select name="facility" ngModel required #facility="ngModel" type="text" class="form-control form-control-lg">
            <option value=""></option>
            <option *ngFor="let f of firedataService.facilities | async" [value]="f.id">
              {{ f.data.title }}
            </option>
          </select>
        </label>

        <label class="form-label mb-3">
          <span>Оборудование</span>
          <select name="equipment" ngModel required #equipment="ngModel" type="text" class="form-control form-control-lg">
            <option value=""></option>
            <option *ngFor="let e of firedataService.equipments | async" [value]="e.id">
              {{ e.data.title }}
            </option>
          </select>
        </label>

        <label class="form-label mb-3">
          <span>Контракт</span>
          <input name="contractPrice" ngModel required #contractPrice="ngModel" type="text" class="form-control form-control-lg">
        </label>

        <label class="form-label mb-3">
          <span>Себестоимость</span>
          <input name="netPrice" ngModel required #netPrice="ngModel" type="text" class="form-control form-control-lg">
        </label>

        <label class="form-label mb-3">
          <span>GP</span>
          <input name="gp" ngModel required #gp="ngModel" type="text" class="form-control form-control-lg">
        </label>

        <label class="form-label mb-3">
          <span>GP %</span>
          <input name="gpPercents" ngModel required #gpPercents="ngModel" type="text" class="form-control form-control-lg">
        </label>

        <label class="form-label mb-3">
          <span>НДС</span>
          <input name="vat" ngModel required #vat="ngModel" type="text" class="form-control form-control-lg">
        </label>

        <label class="form-label mb-3">
          <span>Срок выполнения проекта</span>
          <input name="periodOfExecution" ngModel required #periodOfExecution="ngModel" type="text" class="form-control form-control-lg">
        </label>

        <label class="form-label mb-3">
          <span>Комментарии</span>
          <textarea name="comments" ngModel required #comments="ngModel" type="text" class="form-control form-control-lg" rows="8"></textarea>
        </label>

        <div class="text-right pt-2">
          <button (click)="hideForm()" type="button" class="btn btn-lg btn-secondary align-top">Отмена</button>{{' '}}
          <button type="submit" class="btn btn-lg btn-primary align-top">Создать отчет</button>
        </div>

      </form> -->
    </div>
  </div>
</div>
